body {
  font-family: "Open Sans", "Arial", sans-serif;
}
.accordion {
  list-style: none;
  width: 100%;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.accordion li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 1px 3px 15px #555;
}
.accordion li img {
  display: block;
  height: 100%;
  width: auto;
}
div.info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.accordion li h2 {
  max-width: 100%;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
@keyframes rotateOutUpLeft {
  from {
    transform-origin: center;
  }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -90deg);
  }
}
@keyframes rotateInDownLeft {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -90deg);
  }
  to {
    transform-origin: center;
    transform: none;
  }
}
.accordion li h2.title {
  text-decoration: underline;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: rotateInDownLeft;
}
.accordion li h2.title-rotated {
  text-decoration: none;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: rotateOutUpLeft;
}
@media (max-width: 1200px) {
  .accordion {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
  }
  .accordion li {
    width: 30% !important;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 480px) {
  .accordion li {
    width: 100% !important;
  }
}
